name: Build and Release
on:
  push: 
    tags:
      - 'v*'  # Jab bhi aap v1.0.5 jaisa tag push karenge, ye chal parega

permissions: 
  id-token: write
  contents: write
  attestations: write

jobs:
  release-my-token:
    # Ye line Stellar Expert ka sara mushkil code khud hi bula legi
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name }}
      relative_path: 'contracts/MyFirstToken' # Aapke contract folder ka rasta
      package: 'game_reward_contract'              # Cargo.toml wala name
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}